@import url(uno.css);
@import url(code-syntax.css);

/* Modifications */

h1 {
  letter-spacing: 0;
}

.btn, 
.navigation__item a {
  margin: 5px 0;
  white-space: nowrap;
}

/* Older/Newer post pagination buttons */
.older,
.newer {
  display: inline-block;
}

.panel-cover__location {
  margin-top: 15px;
  font-style: italic;
  font-size: 14px;
}

.pagination__page-number {
  display: inline-block;
  padding: 10px;
}

.categories a,
.tags a {
  border: 1px solid #e25440;
  border-radius: 20px;
  color: #e25440;
  display: inline-block;
  font-size: 12px;
  margin: 5px 0;
  padding: 5px 10px;
  text-shadow: none;
  white-space: nowrap;
}

.post-meta__tags {
  font-size: 12px;
  padding: 0 5px;
}

.footer {
  padding: 2em;
}

.year-header {
  padding-bottom: .5em;
  margin: 1em 0;
  font-size: 28px;
  font-size: 1.75rem;
  border-bottom: 1px solid #c3c3c3;
}

.footer__copyright {
  line-height: 18px;
}

blockquote {
  font-family: Georgia, serif;
  font-size: 24px;
  font-style: italic;
  width: 500px;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}

blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

blockquote cite:before {
  content: "\2014 \2009";
}

blockquote .twitter-share-button {
  display: block;
  margin-top: 5px;
}

.navigation--social {
  margin-left: 0;
}

.user-image {
  margin-bottom: 1.2em;
  position: relative;
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius:100%;
}
